{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="min-h-screen bg-yellow-400 flex flex-col justify-center py-12 sm:px-6 lg:px-8">

    <div class=" sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow-xl     sm:rounded-lg sm:px-10">
            {% if error %}
                <div class="mb-4 bg-red-50 border border-red-200 text-red-700 px-4 py-3 rounded-sm relative">
                    <span class="block sm:inline">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </div>
            {% endif %}

            <form method="post" class="space-y-6">
                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Email</legend>
                    <div class="mt-1">
                        <input 
                            type="email" 
                            value="{{ last_username }}" 
                            name="email" 
                            id="inputEmail" 
                            autocomplete="email" 
                            required 
                            autofocus
                            class="input w-full"
                        >
                    </div>
                </fielset>

                <fieldset class="fieldset mt-2">
                    <legend for="inputPassword" class="fieldset-legend">
                        Senha
                    </legend>
                    <div class="mt-1">
                        <input 
                            type="password" 
                            name="password" 
                            id="inputPassword" 
                            autocomplete="current-password" 
                            required
                            class="input w-full"
                        >
                    </div>
                </fieldset>

                <div class="flex items-center justify-between mb-10">
                    <div class="flex items-center">
                        <label for="remember_me" class="label">
                            <input 
                                id="remember_me" 
                                name="_remember_me" 
                                type="checkbox" 
                                class="checkbox"
                            >
                            Lembrar de mim
                        </label>
                    </div>
                </div>

                <div>
                    <button 
                        type="submit"
                        class="btn btn-primary w-full"
                    >
                        Entrar
                    </button>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}