
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/*
!/var/.gitkeep
!/var/**/.gitkeep
# Keep chrome profile folder structure in repo, but not contents
!/var/google-chrome/
!/var/google-chrome/.gitkeep
/vendor/
###< symfony/framework-bundle ###

# Local virtualenvs and FB helper profiles
.venv311/
.fb_profile*

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
