{% extends 'base.html.twig' %}

{% block title %}Hello MainDashboardController!{% endblock %}

{% block body %}
{# The React component will stay mounted if the div is moved in the DOM #}
<div {{ react_component('Hello', {fullName: 'Fabien'}, {permanent: true}) }}>
     Loading...
</div>
{% endblock %}
